<header class="container page-header">
	<div id="logo">
		<f:link.page pageUid="1" title="Zurück zur Startseite">
			<f:image src="fileadmin/templates/example.com/Resources/Images/logo.png" width="250" height="74" alt="Logo" class="logo"></f:image>
		</f:link.page>
	</div>
	<nav class="navbar navbar-default " id="nav1">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<f:link.page pageUid="1" title="Zurück zur Startseite" class="navbar-brand">
				<f:image src="fileadmin/templates/example.com/Resources/Images/logo.png" height="80" alt="Logo" class="logo"></f:image>
			</f:link.page>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<f:format.html parseFuncTSPath="">{mainMenu}</f:format.html>
		</div>
	</nav>
</header>
<div class="slider">
  <f:cObject typoscriptObjectPath="lib.headerslideshow" />
</div>
<div role="main" class="container">
	<div class="row" id="content">
		<f:switch expression="{backend_layout}">
			<f:case value="2">
				<f:render section="Layout2"/>
			</f:case>
			<f:case value="3">
				<f:render section="Layout3"/>
			</f:case>
			<f:case value="4">
				<f:render section="Layout4"/>
			</f:case>
			<f:case default="true">
				<f:render section="Layout1"/>
			</f:case>
		</f:switch>
	</div>
</div>
<footer class="pagefooter container">
	<p>&copy; <f:format.date format="Y">+1 second</f:format.date> ACME</p>
</footer>
<div class="totop"><a href="javascript:jumpToElement('#nav1');">to top</a></div>