<div class="row gridelement">
	<div class="col-xs-12 col-sm-6 col-md-3 column0">
		<f:format.raw>{data.tx_gridelements_view_column_0}</f:format.raw>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3 column1">
		<f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3 column2">
		<f:format.raw>{data.tx_gridelements_view_column_2}</f:format.raw>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3 column3">
		<f:format.raw>{data.tx_gridelements_view_column_3}</f:format.raw>
	</div>
</div>
